################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RecipeDatabaseApp/Entities/LopputehtäväContext.cs
/.gitignore
/RecipeDatabaseApp/Entities/Category.cs
/RecipeDatabaseApp/Entities/Ingredient.cs
/RecipeDatabaseApp/Entities/Recipe.cs
